@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personaliza el visor del scroll horizontal */
::-webkit-scrollbar {
  width: 8px;
}

/* Personaliza el fondo del visor del scroll */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Personaliza la barra del visor del scroll */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Personaliza la barra del visor del scroll en hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn2 {
  position: relative;
  transition: 0.5s ease;
}
.btn2:hover {
  transform: scale(1.02);
}

.hpage {
  height: calc(100vh - 6.5rem);
}
