@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personaliza el visor del scroll horizontal */
::-webkit-scrollbar {
  width: 8px;
}

/* Personaliza el fondo del visor del scroll */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Personaliza la barra del visor del scroll */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Personaliza la barra del visor del scroll en hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn2 {
  position: relative;
  transition: 0.5s ease;
}
.btn2:hover {
  transform: scale(1.02);
}

.hpage {
  height: calc(100vh - 6.5rem);
}
/* Modal */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  max-width: 1000px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}
.imgModal {
  width: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: flex-start;
  margin: 1rem;
  padding: 1rem 2rem;
}
.btnContainer button {
  width: 30%;
  margin: 0.5rem;
  /* padding: 16px 0; */
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}
.btnPrimary {
  background-color: #411b57;
  color: white;
}

@media screen and (max-width: 700px) {
  .modalContainer {
    width: 90%; /* Ajusta el ancho del modal en pantallas pequeñas */
    max-height: 90vh; /* Ajusta la altura máxima en pantallas pequeñas */
  }
  .imgModal {
    display: none;
  }

  .heading {
    margin: 1rem;
  }
}
